<?php include 'partials/header.html'; ?>
<body>
<table>
    <?php foreach ($entrepreneurs as $entrepreneur): ?>
    <tr>
        <td><?=$entrepreneur->getFullname(); ?></td>
        <td><?=$entrepreneur->getEmail(); ?></td>
        <td>
            <a href="/salary/<?=$entrepreneur->getId(); ?>" title="Отчет по ФЛП: <?=$entrepreneur->getFullname(); ?>">Отчет по ФЛП</a>
        </td>
        <td>
            <a href="/entrepreneur/<?=$entrepreneur->getId(); ?>" title="Изменить">Изменить</a>
        </td>
        <td>
            <a href="/entrepreneur/delete/<?=$entrepreneur->getId(); ?>" title="Удалить">Удалить</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<form action="/entrepreneur/add" method="POST">
    <input name="id" type="hidden" value="0" >
    <input name="surname" type="text" placeholder="Фамилия*" required>
    <input name="name" type="text" placeholder="Имя*" required>
    <input name="middlename" type="text" placeholder="Отчество*" required>
    <input name="email" type="email" placeholder="E-mail*" required>
    <button type="submit">Добавить</button>
</form>
</body>
</html>