<?php include 'partials/header.html'; ?>
<body>
<h1><?= $description; ?></h1>
<form action="/salary/add/<?=$entrepreneur->getId(); ?>" method="POST">
    <input name="id" type="hidden" value="0" >
    <input name="usd" type="text" placeholder="Зарплата $*" required>
    <input name="bonus" type="text" placeholder="Бонус %" >
    <input name="gift" type="text" placeholder="Прибавка $" >
    <input name="incoming_date" type="date" placeholder="Дата получения">
    <button type="submit">Добавить</button>
</form>
</body>
</html>