<?php include 'partials/header.html'; ?>
<body>
<h1><?= $description; ?></h1>
<form action="/entrepreneur/add" method="POST">
    <input name="id" type="hidden" value="0" >
    <input name="surname" type="text" placeholder="Фамилия*" required>
    <input name="name" type="text" placeholder="Имя*" required>
    <input name="middlename" type="text" placeholder="Отчество*" required>
    <input name="email" type="email" placeholder="E-mail*" required>
    <button type="submit">Добавить</button>
</form>
</body>
</html>