<?php include 'partials/header.html'; ?>
<body>
<table>
    <tr>
        <td>USD</td>
        <td>Bonus</td>
        <td>Gift</td>
        <td>Final_USD</td>
        <td>Final_UAH</td>
        <td>Incoming_date</td>
    </tr>
    <?php foreach ($salaries as $salary): ?>
    <tr>
        <td><?=$salary->getUSD(); ?></td>
        <td><?=$salary->getBonus(); ?></td>
        <td><?=$salary->getGift(); ?></td>
        <td><?=$salary->getFinalUSD(); ?></td>
        <td><?=$salary->getFinalUAH(); ?></td>
        <td><?=$salary->getIncomingDate(); ?></td>
        <td>
            <a href="/salary/delete/<?=$salary->getId(); ?>">Удалить</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<form action="/salary/add/<?=$entrepreneur->getId(); ?>" method="POST">
    <input name="id" type="hidden" value="0" >
    <input name="usd" type="text" placeholder="Зарплата $*" required>
    <input name="bonus" type="text" placeholder="Бонус %">
    <input name="gift" type="text" placeholder="Прибавка $">
    <input name="incoming_date" type="date" placeholder="Дата получения">
    <button type="submit">Добавить</button>
</form>
</body>
</html>