<?php include 'partials/header.html'; ?>
<body>
<form action="/entrepreneur/update/" method="POST">
    <input name="id" type="hidden" value="<?=$entrepreneur->getId(); ?>" >
    <input name="surname" type="text" value="<?=$entrepreneur->getSurname(); ?>" required>
    <input name="name" type="text" value="<?=$entrepreneur->getName(); ?>" required>
    <input name="middlename" type="text" value="<?=$entrepreneur->getMiddleName(); ?>" required>
    <input name="email" type="email" value="<?=$entrepreneur->getEmail(); ?>" required>
    <button type="submit">Обновить</button>
</form>
</body>
</html>